.OX-2Lj {
  width: 1200px;
  margin: 0 auto 70px;
}

.-p7ULT {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
}

.vtrWey {
  height: 3px;
  width: 100%;
  background-position-x: -30px;
  background-size: 116px 3px;
  background-image: repeating-linear-gradient(
    45deg,
    #6fa6d6,
    #6fa6d6 33px,
    transparent 0,
    transparent 41px,
    #f18d9b 0,
    #f18d9b 74px,
    transparent 0,
    transparent 82px
  );
}

._8jJlG8 {
  padding: 28px 30px 24px;
}

.nU2ylc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.MqmqK4 {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  color: #041e3a;
  margin-bottom: 20px;
  text-transform: capitalize;
  flex: 1 1 auto;
}

.MqmqK4 .Iafoll {
  display: flex;
  margin-right: 9px;
}

.nU2ylc .icon-location-marker {
  width: 12px;
  height: 16px;
}
svg:not(:root) {
  overflow: hidden;
}
.icon-location-marker {
  color: #041e3a;
  fill: currentColor;
}
.shopee-svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  position: relative;
}

.Jw2Sc- {
  display: flex;
  align-items: center;
}

.NYnMjH {
  display: flex;
  align-items: center;
  font-size: 1rem;
  word-break: break-word;
}

.FVWWQy {
  font-weight: 700;
  color: #222;
}

.QsWYfx {
  margin-left: 20px;
  word-break: break-word;
}

.uk7Wpm {
  padding: 2px 5px;
  margin-left: 1.5em;
  color: #041e3a;
  border-radius: 1px;
  border: 0.5px solid;
  font-size: 10px;
  text-transform: capitalize;
  flex-shrink: 0;
}

._3WkjWD {
  color: #4080ee;
  text-transform: capitalize;
  margin-left: 2.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.sqxwIi {
  margin-top: 12px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}

._3cPNXP,
.V-sVj2 {
  display: flex;
  align-items: center;
}

._3cPNXP {
  height: 50px;
  padding: 0px 30px 0;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.09);
  border-radius: 3px;
}

.V-sVj2 {
  width: 100%;
  height: 30px;
  font-size: 14px;
  color: #bbb;
}

._3cPNXP,
.V-sVj2 {
  display: flex;
  align-items: center;
}

.jNp\+ZB:first-child {
  justify-content: flex-start;
  text-align: left;
}

.ktatB- {
  flex: 4 !important;
}
.jNp\+ZB {
  flex: 1;
  justify-content: center;
  text-align: center;
}

._6HCfS6 {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #222;
}

._04sLFc,
.LBqTli {
  flex: 2;
}

.jNp\+ZB:last-child {
  justify-content: flex-end;
  text-align: right;
}

._04sLFc,
.LBqTli {
  flex: 2;
}

.o6P-mw {
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.09);
  border-radius: 3px;
}

.Z7qspM {
  position: relative;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.09);
  border-radius: 3px;
}

.vYrpLx {
  height: 50px;
  padding: 0 30px;
  border: 0;
}

.vYrpLx,
.xAkOUO {
  display: flex;
  align-items: center;
}

.YSl9dN {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  font-family: HelveticaNeueMedium, HelveticaNeue-Medium, Helvetica Neue Medium,
    Helvetica Neue, Arial Bold, arial, sans-serif;
  margin-left: 5px;
}

._75ySYI {
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-flex;
  color: #00bfa5;
  margin-left: 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.09);
}

svg:not(:root) {
  overflow: hidden;
}

.\+Wv1h7 {
  width: 20px;
  height: 15px;
  margin-left: 10px;
  margin-right: 4px;
}

svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}

.KxX-H6 {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.09);
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 12px;
}

._2OGC7L {
  margin: 0 30px;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #222;
  min-height: 55px;
}

.h3ONzh:first-child {
  justify-content: flex-start;
}
.EOqcX3 {
  flex: 4 !important;
}
.h3ONzh {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  border: 0;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
._2OGC7L {
  margin: 20px 30px;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #222;
  min-height: 55px;
}

.oEI3Ln {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.gHbVhc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Le31ox {
  justify-content: flex-start;
  align-items: start !important;
  flex-direction: column;
  color: #929292;
  flex: 2 !important;
}

.dVLwMH {
  padding-left: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.h3ONzh {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h3ONzh {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h3ONzh:last-child {
  justify-content: flex-end;
}
.fHRPUO {
  flex: 2;
}

.CKMQ6x,
.PeUae3 {
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
}

.CKMQ6x {
  padding: 10px 0;
  margin: 10px 30px 0;
  align-items: flex-start;
  background: #fafafa;
}

.PeUae3 {
  flex: 6;
}
.CKMQ6x,
.PeUae3 {
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
}

._6OL8lz {
  padding: 0 0 0 18px;
}

.stardust-checkbox {
  font-family: -apple-system, HelveticaNeue-Light, Helvetica Neue Light,
    Helvetica Neue, Helvetica, Roboto, Droid Sans, Arial, sans-serif;
  font-weight: 300;
  font-size: 12px;
  display: flex;
  align-items: center;
  cursor: default;
  position: relative;
  color: rgba(0, 0, 0, 0.54);
  max-width: 400px;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

.stardust-checkbox__input {
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
}
.stardust-checkbox__input {
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
}
input,
input:active,
input:focus {
  outline: none;
}
input {
  flex: 1;
  padding: 0;
  border: 0;
  word-break: break-all;
}
input {
  line-height: normal;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}

.stardust-checkbox__box {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.14);
  text-align: center;
  box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.02);
  margin-right: 8px;
}

._0z\+zEH {
  padding: 0 0 0 6px;
}

.sNymxn {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.65);
}

._0Y0wMf {
  padding: 2px 0 0;
  font-size: 12px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.54);
}

.cvrRsH {
  margin: 0 0 0 4px;
  color: #487fed;
}

._0z\+zEH {
  padding: 0 0 0 6px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 6px;
}

._0z\+zEH {
  padding: 0 0 0 6px;
}

.sNymxn {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.65);
}

._0Y0wMf {
  padding: 2px 0 0;
  font-size: 12px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.54);
}

._9\+S3lA,
.JKf6hB,
.M1M8m- {
  flex: 1;
  display: flex;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.4);
}

.JKf6hB {
  flex: 2;
  justify-content: flex-end;
}

.uw1QJu {
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.09);
  padding: 18px 30px;
}

.D2AHAU,
.za7qoR {
  display: flex;
}

.D2AHAU {
  flex: 6;
  align-items: center;
  justify-content: flex-end;
}

.hcC4-3 {
  font-size: 14px;
}

.hcC4-3,
.zjjc32 {
  display: flex;
  align-items: center;
}

.hcC4-3 svg {
  margin-right: 4px;
  width: 24px;
  height: 100%;
  color: #041e3a;
}

.zjjc32 {
  flex: 4;
  justify-content: flex-end;
}

._64JAsH {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  float: right;
  box-shadow: 0 0 0 0 !important;
  border: 0 !important;
  color: #05a !important;
  line-height: 21px;
  font-size: 14px;
  text-transform: none !important;
  font-weight: 500;
  background: transparent;
}

.wVzdz- {
  display: flex;
  background-color: #fafdff;
  min-width: 0;
  min-height: 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.09);
}

.Tn7sb8 {
  flex: 4 !important;
}

.OUah6W {
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  font-size: 14px;
}

.u-JjSt {
  display: flex;
  align-items: center;
  border-top: 0;
  min-width: 0;
  min-height: 0;
  padding: 16px 30px;
}

.nWvmL7 {
  flex: 1 !important;
}

._0HwzC1 {
  margin-left: 15px;
  margin-bottom: 0 !important;
  flex: 1;
  font-size: 12px;
  font-weight: 300;
}
.QP7B8L {
  position: relative;
  margin-bottom: 15px;
}

.F9tXsd {
  background-color: #fff;
}
._3VCZ\+j {
  display: block;
  display: flex;
  align-items: center;
  box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.02);
  border-radius: 2px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.14);
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

._0HwzC1 input {
  padding: 4px 12px;
  width: 100%;
  height: 40px;
}

.T-hVMj {
  height: 38px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  background-color: transparent;
  flex: 1;
  outline: none;
  font-size: 0.875rem;
  min-width: 0;
  color: #222;
  border: 0;
}
input,
input:active,
input:focus {
  outline: none;
}
input {
  flex: 1;
  padding: 0;
  border: 0;
  word-break: break-all;
}
input {
  line-height: normal;
}

.OUah6W:last-child {
  border-left: 1px dashed rgba(0, 0, 0, 0.09);
}
.Fzg\+Gz,
.GJ7sOQ {
  align-items: center;
}
.Fzg\+Gz {
  flex: 6;
  padding: 16px 0;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-column-gap: 10px;
}

.Nivkv- {
  background-color: #fafdff;
  display: flex;
  flex-direction: column;
  padding: 16px 30px 20px;
}

.ULZMSb {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.z10ZuQ {
  font-size: 14px;
  color: #929292;
}

._9F3E9v {
  margin-left: 20px;
  font-size: 20px;
  color: #041e3a;
}

.\+w8dNn {
  margin-top: 20px;
}

.At3Wkr {
  position: relative;
  display: flex;
  align-items: center;
  padding: 28px 30px;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.kKkbFa,
.W-XOpk {
  display: flex;
}

.W-XOpk {
  flex-grow: 1;
  flex-shrink: 0;
  flex-direction: column;
}

.kKkbFa,
.W-XOpk {
  display: flex;
}

.jeFLq1 {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 1;
}

.Pd8fbQ {
  font-size: 18px;
  font-weight: 400;
  margin: 0 8px;
}

._84yUzo {
  padding-left: 50px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 15px;
}

.FPhJqC {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  float: right;
  box-shadow: 0 0 0 0 !important;
  border: 0 !important;
  color: #05a !important;
  line-height: 21px;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
  background: transparent;
}

.a\+7foe,
.XKo7IA {
  display: flex;
  align-items: center;
}
.a\+7foe {
  position: relative;
  padding: 28px 30px;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.XKo7IA {
  flex-grow: 1;
  flex-shrink: 0;
}
.a\+7foe,
.XKo7IA {
  display: flex;
  align-items: center;
}

.DS2ZYY {
  margin-bottom: 12px;
  border-radius: 3px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);
}

.DQ7t9K {
  margin-top: 20px;
  background: #fff;
}

.checkout-payment-method-view__current {
  display: flex;
  align-items: center;
  min-height: 5.625rem;
  box-sizing: border-box;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}
.checkout-payment-setting {
  position: relative;
  padding: 0.625rem 1.5rem 1.25rem;
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.05);
}

.checkout-payment-method-view__current-title {
  font-size: 1.125rem;
  width: 13.5rem;
  color: #222;
  font-weight: 600;
}

.checkout-payment-setting__payment-method-options {
  padding-top: 0.625rem;
}

.checkout-payment-setting__banners {
  padding: 0.9375rem 0;
  margin: 0 1.875rem 0.9375rem;
  border-bottom: 0.0625rem dashed rgba(0, 0, 0, 0.09);
}

.bank-transfer-category {
  display: flex;
  padding: 0 1.875rem;
  box-sizing: border-box;
}

.bank-transfer-category__body {
  width: 100%;
  flex: 1;
}

.checkout-bank-transfer-item--disabled .stardust-radio {
  cursor: not-allowed;
}

.checkout-bank-transfer-item > .stardust-radio {
  cursor: pointer;
  padding-top: 0;
}
.stardust-radio {
  font-family: -apple-system, Helvetica Neue, Helvetica, Roboto, Droid Sans,
    Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  cursor: pointer;
  padding: 16px 12px;
  width: fit-content;
}

.OX-2Lj .stardust-radio-button {
  align-self: center;
}

.OX-2Lj .stardust-radio-button {
  padding-top: 3px;
  margin-right: 0.625rem;
}
.stardust-radio-button {
  margin-right: 8px;
  flex-shrink: 0;
  position: relative;
  width: 18px;
  height: 18px;
}

.OX-2Lj .stardust-radio-button__outer-circle {
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.14);
}
.checkout-bank-transfer-item--disabled .stardust-radio-button__outer-circle {
  background-color: #ebebeb;
}
.stardust-radio-button__outer-circle {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border: 2px solid rgba(0, 0, 0, 0.26);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.stardust-radio-button__outer-circle > .stardust-radio-button__inner-circle {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #041e3a;
  opacity: 0;
}

.checkout-bank-transfer-item .stardust-radio__content {
  flex: 1;
}

.stardust-radio__content {
  cursor: pointer;
}

.checkout-bank-transfer-item__card {
  display: flex;
  margin-left: 1.25rem;
  align-items: center;
}

.checkout-bank-transfer-item__icon-container {
  flex: 0 0 2.8125rem;
}

.checkout-bank-transfer-item__icon {
  width: 2.8125rem;
  height: 2.8125rem;
  object-fit: scale-down;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.14);
}

.checkout-bank-transfer-item__main {
  display: flex;
  flex-direction: column;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  min-height: 2.5rem;
  justify-content: center;
}

.checkout-bank-transfer-item__title {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
}

.checkout-bank-transfer-item--disabled .checkout-bank-transfer-item__subtitle,
.checkout-bank-transfer-item--disabled .checkout-bank-transfer-item__title {
  color: #9b9b9b;
}
.checkout-bank-transfer-item__subtitle {
  flex: 0 1 auto;
  margin-top: 0.5rem;
  color: #929292;
}

.KQyCj0 {
  background: #fffefb;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  border-top: 1px solid #f1f0ed;
  padding-top: 15px;
  display: grid;
  grid-template-columns: 1fr -webkit-max-content -webkit-max-content;
  grid-template-columns: 1fr max-content max-content;
  grid-template-rows: auto;
  grid-column-gap: 10px;
}

.BcITa9 {
  grid-row-start: 11;
  grid-row-end: 12;
}
.BcITa9,
.GJEkd- {
  -ms-grid-row-span: 1;
}
.XIEGGF {
  grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-column-span: 1;
}
.Tc17Ac {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
  display: flex;
  align-items: center;
}

.mCEcIy {
  padding: 0 25px 0 10px;
  height: 40px;
  min-width: 100px;
  grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-column-span: 1;
  justify-content: flex-end;
}

.RY9Grr {
  grid-row-start: 12;
  grid-row-end: 13;
}

.n3vdfL {
  grid-row-start: 19;
  grid-row-end: 20;
}

.kC0GSn {
  height: 50px;
  font-size: 28px;
  color: #041e3a;
}

.uTFqRt {
  grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-column-span: 3;
  grid-row-start: 32;
  grid-row-end: 33;
  -ms-grid-row-span: 1;
  min-height: 95px;
  padding: 0 30px;
  margin: 10px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px dashed rgba(0, 0, 0, 0.09);
}

.apLZEG {
  width: 210px;
  height: 40px;
  border: 0;
  border-radius: 2px;
  padding: 0;
  align-self: center !important;
  text-transform: none !important;
}

.k4VpYA {
  padding: 40px 25px 32px 0;
  flex: 1;
}

.OX-2Lj .stardust-button--primary {
  background: #041e3a !important;
  color: #fff !important;
}

.OX-2Lj .stardust-button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.09);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.03);
  border-radius: 2px !important;
  color: #555;
  text-transform: capitalize;
  outline: none;
}

/*=========== copy list address from shopee ============*/

.ZTVg\+6 {
  z-index: 1;
}

.TytfN\+ {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.54);
  border-radius: 2px;
}

.D0rZmj {
  position: relative;
  width: 500px;
  height: 600px;
}

.D0rZmj {
  flex-direction: column;
  justify-content: center;
}

.rgsMiz {
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  box-sizing: border-box;
  height: 56px;
  padding: 16px 24px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.g60B0R {
  padding-top: 0 !important;
}

.Vvugcp {
  flex: 1;
  overflow: auto;
  padding: 24px 24px 88px;
}

.b59z1w:last-child {
  margin-right: 0;
}
._9d0\+gy {
  color: #041e3a;
  border-color: #041e3a;
}
.b59z1w {
  margin: 0 4px 4px 0;
  font-size: 0.875rem;
}
.A5xtpE {
  border-radius: 1px;
  padding: 2px 4px;
  border: 0.5px solid;
}

.stardust-radio-button--checked
  > .stardust-radio-button__outer-circle
  > .stardust-radio-button__inner-circle {
  opacity: 1;
}

.stardust-radio-button--checked .stardust-radio-button__outer-circle {
  border-color: #041e3a;
}

.sCgduz {
  padding: 16px 0;
}

.eh3LSo {
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  background: #fff;
}
.eh3LSo {
  display: flex;
}

.RaP0z8 {
  padding: 0 4px 0 0;
}

.RaP0z8 .stardust-radio {
  padding: 0;
}
.stardust-radio {
  font-family: -apple-system, Helvetica Neue, Helvetica, Roboto, Droid Sans,
    Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  cursor: pointer;
  padding: 16px 12px;
}

.yeNlVS {
  min-width: 0;
  width: 100%;
}

.U4dUzz {
  margin-bottom: 4px;
}
.U-1fLx {
  justify-content: space-between;
}
._7YSPT,
._1Eyhj-,
.U-1fLx,
.uzL3rQ {
  display: flex;
}

.cN4yku {
  margin-right: 8px;
}
._7YSPT {
  flex-grow: 1;
  overflow-x: hidden;
}

.NQiF1Q {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1rem;
  line-height: 1.5rem;
}

.N9EhS4 {
  font-weight: 500;
  min-width: 0;
}
.N9EhS4 {
  display: inline-flex;
}
._1Eyhj-,
.N9EhS4 {
  align-items: center;
}

.NqDMvV {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

._7JM7ui {
  border-left: 0.5px solid rgba(0, 0, 0, 0.26);
  margin: 0 8px;
}

._5DLIiB,
.bwW59H {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.bwW59H {
  color: rgba(0, 0, 0, 0.54);
}
.Y8kLd3 {
  white-space: nowrap;
}

.uzL3rQ {
  flex-basis: 40px;
}
.uzL3rQ {
  justify-content: flex-end;
}

.bRN77Q,
.zXQIma {
  white-space: nowrap;
}

.bRN77Q {
  border: 0;
  background: none;
  outline: none;
  padding: 4px;
  color: #08f;
}

.Ic56yv {
  color: rgba(0, 0, 0, 0.65);
  border: 1px solid rgba(0, 0, 0, 0.09);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03);
  height: 40px;
  font-size: 1rem;
  line-height: 1.5rem;
}

.rMXp0S {
  width: 16px;
  height: 16px;
  fill: rgba(0, 0, 0, 0.54);
  margin-right: 8px;
}

.eT\+Xh1 {
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.09);
  padding: 0 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 64px;
}
.eT\+Xh1 {
  justify-content: flex-end;
}
.D0rZmj,
.eT\+Xh1,
.rgsMiz {
  display: flex;
}
.eT\+Xh1,
.rgsMiz {
  align-items: center;
}

.\+jGaSf,
.Rlyqx2 {
  background-color: #fff !important;
}

.\+jGaSf {
  border: 1px solid #041e3a !important;
  color: #041e3a !important;
}
.QLgWLc {
  align-items: center;
  display: flex;
  justify-content: center;
  outline: none;
  padding: 10px;
  border: 0;
  background: none;
  border-radius: 2px;
  min-width: 140px;
  font-size: 14px;
  cursor: pointer;
}
.buaGaW {
  margin-right: 8px;
}
.Ic56yv {
  color: rgba(0, 0, 0, 0.65);
  border: 1px solid rgba(0, 0, 0, 0.09);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03);
  height: 40px;
  font-size: 1rem;
  line-height: 1.5rem;
}

.nVbjI2 {
  color: #fff;
  background-color: #041e3a;
}

.cN4V5B {
  height: 40px;
  font-size: 1rem;
  line-height: 1.5rem;
}

.eh3LSo:last-child {
  border-bottom: 0;
}

.YrJatK {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.BqkUv1,
.YrJatK {
  color: rgba(0, 0, 0, 0.54);
}
