body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.css-zb7zul {
  height: 36px;
  line-height: 12px;
  display: flex;
  width: fit-content;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  background-repeat: no-repeat;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-clip: padding-box;
  background-position: 0 0;
  background-color: #041e3a;
}

.css-1bqeu8f {
  font-size: 10px;
  font-weight: 700;
  color: rgb(255, 213, 145);
}

.css-1rdv2qd {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.product-info-container .product__flash--sale {
  position: absolute;
  top: 10px;
  right: 0;
  color: #041e3a;
}

/* copy sort bar from shopee */
.shopee-sort-bar {
  font-weight: 400;
  background: #fff;
  padding: 0.8125rem 1.25rem;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 3px 0 #dee2e6;
  margin-bottom: 20px;
}

.shopee-sort-bar__label {
  color: #555;
  margin: 0 0.3125rem 0 0;
}

.shopee-sort-by-options {
  display: flex;
  align-items: stretch;
  flex: 1;
  justify-content: flex-start;
}

.shopee-sort-by-options__option--selected.shopee-sort-by-options__option {
  color: #fff;
  background: #041e3a;
}

.shopee-sort-by-options .select-with-status__holder,
.shopee-sort-by-options__option {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.02);
  height: 2.125rem;
  line-height: 2.125rem;
  border-radius: 2px;
  border: 0;
}

.shopee-sort-by-options__option {
  cursor: pointer;
  user-select: none;
  display: flex;
  flex: 0 0 5.625rem;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  padding: 0 0.9375rem;
  /* background: #fff; */
  white-space: nowrap;
  margin-left: 0.625rem;
  box-sizing: border-box;
}
